.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
}
.score {
  width: 40%;
  background-color: green;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score h1 {
  color: white;
  font-size: 6em;
}
